<web-app>
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>com.miki.MyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PathServlet</servlet-name>
        <servlet-class>com.miki.PathServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.miki.UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PathServlet</servlet-name>
        <url-pattern>/path/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/users/*</url-pattern>
    </servlet-mapping>
</web-app>