<web-app>

    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.miki.servlet.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>


</web-app>